<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>
  <ul>
    {{#each posts}}
    <li>
      <a href="/post/post-info/{{this._id}}">
        <img src="{{this.picPath}}" alt="{{this.postName}}">
      </a>
      <img src="{{this.creatorId.imgPath}}" alt="Creator profile photo">
      <h3>Author: {{this.creatorId.username}}</h3>
      <p>Title: {{this.postName}}</p>
    </li>
    {{/each}}
  </ul>
</div>