
<div class="top-padding">
  <ul class="grid">
    {{#each posts}}
    <li class="item">

      <a class="content" href="/post/post-info/{{this._id}}">
        <div>
          <div class="card">
            <h3>Author: {{this.creatorId.username}}</h3>
            <p>{{this.postName}}</p>
          </div>
          <img src="{{this.picPath}}" alt="{{this.postName}}">
        </div>

        {{!-- <img src="{{this.creatorId.imgPath}}" alt="Creator profile photo"> --}}

      </a>
    </li>
    {{/each}}
  </ul>

</div>

<div id="randomjoke">
</div>


{{!-- reactivar para que funcione el chiste random --}}

{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
{{!-- <script src="/javascripts/APIHandler.js"></script> --}}
{{!-- <script src="/javascripts/jokes.js"></script> --}}