<div class="top-padding">
  {{#with user}}
  <h1 class="section-title">Edit {{username}}'s profile</h1>

  <form action="/user/edit" method="post" class="input-form user-edit">
    <img src="{{imgPath}}" alt="user picture">
    {{#unless googleID}}
    <label>Name</label>
    <input type="text" name="username" value="{{username}}">
    <label>Email</label>
    <input type="text" name="email" value="{{email}}">
    <label>New password</label>
    <input type="password" name="password" value="{{password}}">
    {{/unless}}
    <label>Description</label>
    <input type="text" name="description" value="{{description}}">

    <input type="submit" value="SAVE">


  </form>
  <form action="/user/edit" method="post" enctype="multipart/form-data" class="input-form">
    <label>Profile photo</label>
    <input type="file" name="imgPath">
    <input type="submit" value="SAVE">
  </form>

  {{/with}}
</div>