<div>
  {{#if post}}
  <h1>{{post.postName}}</h1>

  {{#post.creatorId}}
  <div>
    <img src="{{imgPath}}" alt="{{username}} profile picture">
    <h4>by <a href="/user/publicprofile/{{_id}}">{{username}}</a></h4>
  </div>
  {{/post.creatorId}}

  <div>
    <img src="{{post.picPath}}" alt="{{post.postName}}">
  </div>
  <p>{{post.content}}</p>
  {{/if}}

  <form action="/post/post-info/{{post._id}}/edit" method="post">
    <textarea name="content" id="" cols="30" rows="2"></textarea>
    <button type="submit">Comment</button>
  </form>

  <h3>Comments ({{post.comment.length}})</h3>

  {{#if post.comment}}
  <ul>
    {{#each post.comment}}
    <li>
      <div>
        <img src="{{authorId.imgPath}}" alt="{{authorId.username}} profile picture">
        <h4>by <a href="/user/publicprofile/{{authorId._id}}">{{authorId.username}}</a> </h4>
      </div>
      <p>{{content}}</p>
    </li>
    {{/each}}
  </ul>

  {{else}}
  <p>There are no comments for this entry</p>
  {{/if}}
</div>