<div class="top-padding">

  {{#if recipeFinal}}
  {{#each recipeFinal}}
  <div>
    <h2>Title: {{title}}</h2>
    <div class="bookmarks-container"></div>
    <input type="hidden" class="post-id" value="{{id}}">`
  <img src="{{image}}" alt="Recipe image">
  <h3>Servings: {{servings}}</h3>
  <h3>Price per serving: {{pricePerServing}}</h3>
  <h3>ready in minutes: {{readyInMinutes}}</h3>
  <ul>
    {{#each analyzedInstructions.[0].steps}}
    <li>
      {{number}} {{step}}
    </li>
    {{/each}}
  </ul>
  </div>
  {{/each}}
  {{/if}}
  {{#unless recipeFinal}}
  <h1>No recipe</h1>
  {{/unless}}

</div>

 <script src="/javascripts/recipeShow.js"></script>